@import url('https://fonts.googleapis.com/css?family=Raleway');
/*font-family: 'Raleway', sans-serif;*/
.navCommon{
    width:100%;
    height: auto;
    background:#dcc6af;
}
.portPic{
    width:100%;
    height: auto;
    background:#dcc6af;
    padding-bottom: 30px;
}
.portPic .pic-wrap{
    margin-top:50px;
    font-family: 'Raleway', sans-serif;
}
.portPic .pic-wrap>div>h1{
    text-align: center;
    letter-spacing: 1px;
    font-size:4em;
    font-weight: bold;
}
.pic-content>div{
    margin-top:80px;
}
.pic-content div>p{
    letter-spacing: 1px;
    line-height: 23px;
}
.pic-content div:last-child>p:first-child{
    text-align: center;
}
.pic-content div:last-child .tool{
    font-size: 1.3em;
    font-weight: bold;
}
.pic-content div:last-child h4{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top:30px;
    margin-bottom: 20px;
}
/*button 공통*/
.btn-wrap{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-around;
    margin-top:20px;
}
#go-homepage{

    border: 0;
    background: #777;
    border-radius: 4px;
    box-shadow: 0 5px 0 #333;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s ease;
}
#go-homepage:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}
#go-homepage>a{
    display: inline-block;
    width:100%;
    font-size:0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}