@media all and (min-width:320px) and (max-width:767px){
.colorbar{
	width:100%;
	height:80px;
	background:#fff;}/*article 이름*/
.colorbar>ul{
	width:270px;
	height:40px;
	margin:50px auto;}
.colorbar>ul>li{
	display:block;
	width:40px;
	height:40px;
	float:left;
	margin-left:5px;}
.color1{
	background:rgba(235,57,79,1);}
.color2{
	background:rgba(75,109,77,1);}
.color3{
	background:rgba(185,108,85,1);}
.color4{
	background:rgba(110,38,101,1);}
.color5{
	background:rgba(134,134,134,1);}
.color6{
	background:rgba(24,66,82,1);}

/*-----------------------------------------colorbar end*/

.color_content1{
	width:100%;
	height:1800px;
	position:relative;
	background:#ddd;
	margin-top:40px;
	padding-bottom:250px;}/*article 이름 sixcolors 6개든 article*/

.filgi{
	width:300px;
	height:70px;
	line-height:90px;
	font-family: 'Sedgwick Ave', cursive;
	font-size:25px;
	letter-spacing:2px;
	text-align:center;
	border-bottom:#000 dashed 4px;
	position:absolute;
	top:-47px;
	left:66%;
	margin-left:-200px;} /*필기체*/

.colorbox1{
	width:100%;
	height:1800px;
	position:absolute;
	top:0px;
	left:0px;
	}	/*modern color 박스 6개 감싼애*/

.colorbox1>div{
	width:290px;
	height:270px;
	position:absolute;
	background-position:center center !important;
	background-repeat:no-repeat !important;
	cursor:pointer;
	} /*멘트 사진 같이있는 박스*/


.colorbox1>div>div{
	width:290px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
	position:absolute;
	bottom:0;
	left:0;
	}/*ment박스 공통점*/




/*개별박스hover 공통점*/
.box_c1_black,.box_c2_black,.box_c3_black,.box_c4_black,.box_c5_black,.box_c6_black{
	width:330px;
	height:320px;
	line-height:335px;
	background:rgba(0,0,0,0.7);
	font-family: 'Sedgwick Ave', cursive;
	font-size:40px;
	color:#FFF;
	position:absolute;
	text-align:center;
	z-index:3;
	letter-spacing:1px;
	display:none;
	}	


/*개별박스들*/
.box_c1{
	top:4%;
	left:12%;
	background:url(../img/sixcolor/color1.jpg);}
.box_c1_ment{
	background:rgba(235,57,79,1);
	}
.box_c1_black{
	top:4%;
	left:12%;
	}


.box_c2{
	top:22%;
	left:12%;
	background:url(../img/sixcolor/color2.jpg);}
.box_c2_ment{
	background:rgba(58,166,128,1);
	}	
.box_c2_black{
	top:22%;
	left:12%;}


.box_c3{
	top:40%;
	left:12%;
	background:url(../img/sixcolor/color3.png);}
.box_c3_ment{
	background:rgba(163,143,113,1);
	}
.box_c3_black{
	top:40%;
	left:12%;}
	
	
.box_c4{
	top:58%;
	left:12%;
	background:url(../img/sixcolor/color4.jpg);}
.box_c4_ment{
	background:rgba(128,95,153,1);
	}
.box_c4_black{
	top:58%;
	left:12%;}	


.box_c5{
	top:76%;
	left:12%;
	background:url(../img/sixcolor/color5.jpg);}
	
.box_c5_ment{
	background:rgba(170,170,170,1);
	}
.box_c5_black{
	top:76%;
	left:12%;}	



.box_c6{
	top:94%;
	left:12%;
	background:url(../img/sixcolor/color6.jpg);}

.box_c6_ment{
	background:rgba(54,120,136,1);
	}

.box_c6_black{
	top:94%;
	left:12%;}

/*-------------------------------------------------color vimeo 시작*/	
.colorvimeo{
	width:100%;
	height:300px;
	position:relative;
	background:#fff;
	padding-bottom:50px;
	}/*article이름*/	
	
.colorlogo{
	width:42px;
	height:57px;
	position:absolute;
	top:0%;
	left:47%;
	font-size:14px;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;}	
	
#talkbubble iframe{
	width:90%;
	height:90%;
	margin-left:15px;
	margin-top:15px;}	
#talkbubble {
   width: 280px;
   height: 280px;
   background:#FC6;
   position: relative;
   top:35%;
   margin:auto;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 120px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #FC6;
   border-bottom: 13px solid transparent;
}	
	
	
/*--------------------------------------------------colorvimeo End*/
/*-------------------------------------------------------------------color line*/

.colorline{
	width:100%;
	height:40px;
	margin-top:100px;
	margin-bottom:150px;}/*article이름*/
.colorline>div{
	float:left;
	width:50%;
	height:60px;
	background-position:center center !important;
	background-repeat:no-repeat !important;}

.colorpicline1{
	background:url(../img/sixcolor/colorline1.jpg);}
/*-----------------------------------------------------------slide시작*/

.colorslide{
	display:none;
	width:100%;
	height:350px;
	position:relative;
	background:#fff;
	margin:50px 0;}/*article 이름*/

#container {
	display:none;
	width:960px;
	position:absolute;
	left:190px;
	top:20px;}

#container2 {
	display:none;
	width:750px;
	position:absolute;
	left:190px;
	top:20px;}
	
 }
/*mobile end*/
/*↓ipad start*/
@media all and (min-width:768px) and (max-width:1024px) {
.colorbar{
	width:100%;
	height:80px;
	background:#fff;}/*article 이름*/
.colorbar>ul{
	width:270px;
	height:40px;
	margin:50px auto;}
.colorbar>ul>li{
	display:block;
	width:40px;
	height:40px;
	float:left;
	margin-left:5px;}
.color1{
	background:rgba(235,57,79,1);}
.color2{
	background:rgba(75,109,77,1);}
.color3{
	background:rgba(185,108,85,1);}
.color4{
	background:rgba(110,38,101,1);}
.color5{
	background:rgba(134,134,134,1);}
.color6{
	background:rgba(24,66,82,1);}

/*-----------------------------------------colorbar end*/

.color_content1{
	width:100%;
	height:1050px;
	position:relative;
	background:#ddd;
	margin-top:40px;
	padding-bottom:70px;}/*article 이름*/

.filgi{
	width:400px;
	height:70px;
	line-height:90px;
	font-family: 'Sedgwick Ave', cursive;
	font-size:35px;
	letter-spacing:2px;
	text-align:center;
	border-bottom:#000 dashed 4px;
	position:absolute;
	top:-47px;
	left:50%;
	margin-left:-200px;} /*필기체*/

.colorbox1{
	width:100%;
	height:700px;
	position:absolute;
	top:0;
	left:0;
	}	/*modern color 박스 6개 감싼애*/

.colorbox1>div{
	width:300px;
	height:305px;
	position:absolute;
	background-position:center center !important;
	background-repeat:no-repeat !important;
	cursor:pointer;
	} /*멘트 사진 같이있는 박스 아이패드*/


.colorbox1>div>div{
	width:300px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
	position:absolute;
	bottom:0;
	left:0;
	}/*ment박스 공통점*/




/*개별박스hover 공통점*/
.box_c1_black,.box_c2_black,.box_c3_black,.box_c4_black,.box_c5_black,.box_c6_black{
	width:300px;
	height:305px;
	line-height:335px;
	background:rgba(0,0,0,0.7);
	font-family: 'Sedgwick Ave', cursive;
	font-size:40px;
	color:#FFF;
	position:absolute;
	text-align:center;
	z-index:3;
	letter-spacing:1px;
	display:none;
	}	


/*개별박스들*/
.box_c1{
	top:10%;
	left:8%;
	background:url(../img/sixcolor/color1.jpg);}
.box_c1_ment{
	background:rgba(235,57,79,1);
	}
.box_c1_black{
	top:10%;
	left:12%;
	}


.box_c2{
	top:10%;
	left:55%;
	background:url(../img/sixcolor/color2.jpg);}
.box_c2_ment{
	background:rgba(58,166,128,1);
	}	
.box_c2_black{
	top:10%;
	left:55%;}


.box_c3{
	top:60%;
	left:8%;
	background:url(../img/sixcolor/color3.png);}
.box_c3_ment{
	background:rgba(163,143,113,1);
	}
.box_c3_black{
	top:60%;
	left:8%;}
	
	
.box_c4{
	top:60%;
	left:55%;
	background:url(../img/sixcolor/color4.jpg);}
.box_c4_ment{
	background:rgba(128,95,153,1);
	}
.box_c4_black{
	top:60%;
	left:55%;}	


.box_c5{
	top:110%;
	left:8%;
	background:url(../img/sixcolor/color5.jpg);}
	
.box_c5_ment{
	background:rgba(170,170,170,1);
	}
.box_c5_black{
	top:110%;
	left:8%;}	



.box_c6{
	top:110%;
	left:55%;
	background:url(../img/sixcolor/color6.jpg);}

.box_c6_ment{
	background:rgba(54,120,136,1);
	}

.box_c6_black{
	top:110%;
	left:55%;}

/*-------------------------------------------------color vimeo 시작*/	
.colorvimeo{
	width:100%;
	height:350px;
	position:relative;
	background:#fff;
	padding-bottom:70px;
	}/*article이름*/	
	
.colorlogo{
	width:42px;
	height:57px;
	position:absolute;
	top:40%;
	left:22%;
	font-size:14px;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;}	
	
#talkbubble iframe{
	margin-left:15px;
	margin-top:15px;}	
#talkbubble {
   width: 400px;
   height: 290px;
   background:#FC6;
   position: relative;
   top:20%;
   left:35%;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 120px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #FC6;
   border-bottom: 13px solid transparent;
}	
	
	
/*--------------------------------------------------colorvimeo End*/
/*-------------------------------------------------------------------color line*/

.colorline{
	width:100%;
	height:40px;
	margin-top:100px;
	margin-bottom:150px;}/*article이름 아이패드*/
.colorline>div{
	float:left;
	width:50%;
	height:60px;
	background-position:center center !important;
	background-repeat:no-repeat !important;}

.colorpicline1{
	background:url(../img/sixcolor/colorline1.jpg);}
/*-----------------------------------------------------------slide시작*/

.colorslide{
	width:100%;
	height:350px;
	position:relative;
	background:#fff;
	margin:50px 0;}/*article 이름*/

#container {
	display:none;
	width:960px;
	position:absolute;
	left:190px;
	top:20px;}

#container2 {
	width:750px;
	position:absolute;
	left:1%;
	top:15%;}
}
/*ipad end*/
/*↓pc start*/
@media all and (min-width:1025px) {
.colorbar{
	width:100%;
	height:80px;
	background:#fff;}/*article 이름*/
.colorbar>ul{
	width:270px;
	height:40px;
	margin:50px auto;}
.colorbar>ul>li{
	display:block;
	width:40px;
	height:40px;
	float:left;
	margin-left:5px;}
.color1{
	background:rgba(235,57,79,1);}
.color2{
	background:rgba(75,109,77,1);}
.color3{
	background:rgba(185,108,85,1);}
.color4{
	background:rgba(110,38,101,1);}
.color5{
	background:rgba(134,134,134,1);}
.color6{
	background:rgba(24,66,82,1);}

/*-----------------------------------------colorbar end*/

.color_content1{
	width:100%;
	height:800px;
	position:relative;
	background:#ddd;
	margin-top:40px;
	padding-bottom:70px;}/*article 이름*/

.filgi{
	width:400px;
	height:70px;
	line-height:90px;
	font-family: 'Sedgwick Ave', cursive;
	font-size:45px;
	letter-spacing:2px;
	text-align:center;
	border-bottom:#000 dashed 4px;
	position:absolute;
	top:-47px;
	left:50%;
	margin-left:-200px;} /*필기체*/

.colorbox1{
	width:1150px;
	height:700px;
	position:absolute;
	top:50px;
	left:270px;
	}	/*modern color 박스 6개 감싼애*/

.colorbox1>div{
	width:350px;
	height:335px;
	position:absolute;
	background-position:center center !important;
	background-repeat:no-repeat !important;
	cursor:pointer;
	} /*멘트 사진 같이있는 박스*/


.colorbox1>div>div{
	width:350px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
	position:absolute;
	bottom:0;
	left:0;
	}/*ment박스 공통점*/




/*개별박스hover 공통점*/
.box_c1_black,.box_c2_black,.box_c3_black,.box_c4_black,.box_c5_black,.box_c6_black{
	width:350px;
	height:335px;
	line-height:335px;
	background:rgba(0,0,0,0.7);
	font-family: 'Sedgwick Ave', cursive;
	font-size:40px;
	color:#FFF;
	position:absolute;
	text-align:center;
	z-index:3;
	letter-spacing:1px;
	display:none;
	}	


/*개별박스들*/
.box_c1{
	top:0;
	left:0;
	background:url(../img/sixcolor/color1.jpg);}
.box_c1_ment{
	background:rgba(235,57,79,1);
	}
.box_c1_black{
	top:0;
	left:0;
	}


.box_c2{
	top:0;
	left:400px;
	background:url(../img/sixcolor/color2.jpg);}
.box_c2_ment{
	background:rgba(58,166,128,1);
	}	
.box_c2_black{
	top:0;
	left:400px;}


.box_c3{
	top:0;
	right:0;
	background:url(../img/sixcolor/color3.png);}
.box_c3_ment{
	background:rgba(163,143,113,1);
	}
.box_c3_black{
	top:0;
	right:0;}
	
	
.box_c4{
	bottom:0;
	left:0;
	background:url(../img/sixcolor/color4.jpg);}
.box_c4_ment{
	background:rgba(128,95,153,1);
	}
.box_c4_black{
	bottom:0;
	left:0;}	


.box_c5{
	bottom:0;
	left:400px;
	background:url(../img/sixcolor/color5.jpg);}
	
.box_c5_ment{
	background:rgba(170,170,170,1);
	}
.box_c5_black{
	bottom:0;
	left:400px;}	



.box_c6{
	bottom:0;
	right:0;
	background:url(../img/sixcolor/color6.jpg);}

.box_c6_ment{
	background:rgba(54,120,136,1);
	}

.box_c6_black{
	bottom:0;
	right:0;}

/*-------------------------------------------------color vimeo 시작*/	
.colorvimeo{
	width:100%;
	height:350px;
	position:relative;
	background:#fff;
	padding-bottom:110px;
	}/*article이름*/	
	
.colorlogo{
	width:42px;
	height:57px;
	position:absolute;
	top:40%;
	left:33%;
	font-size:14px;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;}	
	
#talkbubble iframe{
	margin-left:15px;
	margin-top:15px;}	
#talkbubble {
   width: 400px;
   height: 290px;
   background:#FC6;
   position: relative;
   top:20%;
   left:40%;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 120px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #FC6;
   border-bottom: 13px solid transparent;
}	
	
	
/*--------------------------------------------------colorvimeo End*/
/*-------------------------------------------------------------------color line*/

.colorline{
	width:100%;
	height:40px;
	margin-top:100px;
	margin-bottom:150px;}/*article이름*/
.colorline>div{
	float:left;
	width:50%;
	height:60px;
	background-position:center center !important;
	background-repeat:no-repeat !important;}

.colorpicline1{
	background:url(../img/sixcolor/colorline1.jpg);}
/*-----------------------------------------------------------slide시작*/

.colorslide{
	width:100%;
	height:350px;
	position:relative;
	background:#fff;
	margin:50px 0;}/*article 이름*/

#container {
	width:960px;
	position:absolute;
	left:190px;
	top:20px;}

#container2 {
	display:none;
	width:960px;
	position:absolute;
	left:190px;
	top:20px;}

	
}

	
	
@import url('https://fonts.googleapis.com/css?family=Arvo|Libre+Baskerville|Lobster|Sedgwick+Ave|Sedgwick+Ave+Display');
/*font-family: 'Sedgwick Ave', cursive; 상단 필기체사용*/


@import url('https://fonts.googleapis.com/css?family=Molengo|Raleway|Roboto+Mono|Titillium+Web');
/*font-family: 'Raleway', sans-serif; 자잘한 폰트*/
	